name: Deploy Docs

on:
  push:
    branches:
      - main

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Remove .npmrc
      run: rm .npmrc
    - name: Get yarn cache
      id: yarn-cache
      run: echo "::set-output name=dir::$(yarn cache dir)"

    - uses: actions/cache@v1
      with:
        path: ${{ steps.yarn-cache.outputs.dir }}
        key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-yarn-
    - name: Install node_modules
      run: yarn install --frozen-lockfile
    - name: Compile
      run: yarn docs
    - name: Upload docs folder
      uses: actions/upload-artifact@v1
      with:
        name: docs
        path: docs/

  publish-docs:
    runs-on: ubuntu-latest
    needs: build-docs
    env:
      NPM_TOKEN: ${{secrets.NPM_TOKEN}}
    steps:
    - uses: actions/checkout@v1
    - name: Remove .npmrc
      run: rm .npmrc
    - name: Get yarn cache
      id: yarn-cache
      run: echo "::set-output name=dir::$(yarn cache dir)"

    - uses: actions/cache@v1
      with:
        path: ${{ steps.yarn-cache.outputs.dir }}
        key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-yarn-
    - name: Install node_modules
      run: yarn install --frozen-lockfile
    - name: Download math result for job 1
      uses: actions/download-artifact@v1
      with:
        name: docs
    - name: Deploy with gh-pages
      run: |
        git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
        npx gh-pages -d docs -u "github-actions-bot <support+actions@github.com>"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}